Hanodale.WebUI/Service References/MailService/DispatchService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dispatcher" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dispatcher" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CcId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleId" type="xs:int" />
      <xs:element minOccurs="0" name="StatusId" type="xs:int" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientData" nillable="true" type="tns:ClientData" />
  <xs:complexType name="MyException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyException" nillable="true" type="tns:MyException" />
</xs:schema>