Hanodale.WebUI/Service References/MailService/DispatchService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://htsdev01/FBMailService/DispatchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dispatcher" />
  <xs:element name="InsertData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dispatcher" minOccurs="0" name="ObjClient" nillable="true" type="q1:ClientData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>